@import "tailwindcss";

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 175'%3E%3Cpath d='M 0 0 L 300 0 M 0 0 L 0 175' stroke='%23001BF4' stroke-width='1' /%3E%3C/svg%3E");
  background-size: 300px 175px;
  background-position: center;
}

@media (min-width: 768px) {
  body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 250'%3E%3Cpath d='M 0 0 L 400 0 M 0 0 L 0 250' stroke='%23001BF4' stroke-width='1' /%3E%3C/svg%3E");
    background-size: 400px 250px;
    background-position: center;
  }
}

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-bebas-neue);
}

@layer base {
  .content {
    @apply max-w-screen-xl w-full mx-auto px-4;
  }
  
  .default-space--top {
    @apply pt-8 sm:pt-16 md:pt-24 lg:pt-12;
  }

  h1 {
    @apply text-6xl md:text-8xl font-display;
  }

  p {
    @apply text-lg md:text-2xl font-light;
  }

  strong {
    font-weight: bold !important
  }
}
